* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* min-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fffdee;
}
header {
  max-width: 360px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  background-color: #87986a;
}
.logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#logo-img {
  height: 150px;
  width: 150px;
}
.title {
  text-align: center;
}
.title-text {
  font-family: "Source Sans Pro", sans-serif;
  color: #e9f5db;
  font-weight: bold;
  font-size: 43px;
}
main {
  /* width: 360px; */
  text-align: center;
}
.main-container {
  max-width: 360px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #87986a;
}
.left-boxes {
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#numbInput {
  border: none;
  background-color: #e9f5db;
  color: #be8057;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  height: 90px;
  width: 120px;
  margin: 15px;
}
#numbInput:focus,
#numbInput::after,
.currency:focus,
.currency::after {
  outline: none;
}
#numbInput::-webkit-outer-spin-button,
#numbInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#currency {
  width: 120px;
  height: 90px;
  border: none;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin: 15px;
  -webkit-appearance: none;
  outline: none;
  color: #e9f5db;
  background-color: #be8057;
}
.opt {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition-duration: 0.4s;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: bisque;
}
#btn:hover {
  /* Green */
  color: white;
}
#the_displayed_result {
  margin-top: 23%;
  font-family: "Libre Franklin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
}
footer {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  width: 360px;
}
.footer-text {
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}
