* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* min-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
header {
  max-width: 360px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  background-color: rgb(96, 146, 73);
}
.logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#logo-img{
  height: 150px;
  width: 150px;
}
.title {
  text-align: center;
}
.title-text {
  font-family: "Source Sans Pro", sans-serif;
  color: azure;
  font-size: 43px;
}
main {
  width: 100%;
}
.left-boxes {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  background-color: rgb(96, 146, 73);
}
#numbInput {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;


  position: relative;
  border-top: 20px solid transparent;
  margin-bottom: 5px;

 /* my code below  */
  background-color: rgb(191, 226, 184);
  color: rgb(53, 44, 34);
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: 500;
  height: 90px;
  width: 120px;
}
.input-all-field input.dirty,
#numbInput:not(:placeholder-shown),
#numbInput:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}
#currency {
  width: 120px;
  height: 90px;
  border: none;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
}
.opt {
  display: flex;
  align-items: center;
  justify-content: center;
}
